* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('1.jpg');
    padding-top: 100px;
}

.box2 {
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2.jpg');
}

.box3 {
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('3.jpg');
}

.box4 {
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('4.jpg');
}

.box5 {
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('5.jpg');
}

.box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    /* perspective: 1000px; */
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}

.loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.katanapng {
    width: 100px;
    height: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.video-div {
    padding-top: 50px;
}

.site-foto {
    width: 50%;
    padding-top: 100px;
}

.site-foto img {
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 2px 3px 30px red;
}

.shopping-text {
    margin-top: 50px;
    font-size: 36px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: stretchText 3s linear infinite;
}

@keyframes stretchText {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}



.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(75, 75, 75));
}

.p1 {
    font-size: 25px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient( #000000, #272727);
}

footer>div {
    margin: 0 10px;
}

footer img {
    width: 100px;
    /* İlgili boyutlara ayarla */
    height: auto;
    /* Uygun görünüm için */
}

.footer-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-menu li {
    margin-right: 10px;
}

.footer-menu li a {
    text-decoration: none;
    color: #ffffff;
    /* İlgili renk */
}

@media screen and (max-width: 1050px) {
    iframe {
        width: 90%;
    }
}


@media screen and (max-width: 850px) {
    .p1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 450px) {
    .p1 {
        font-size: 15px;
    }

    iframe {
        width: 400px;
        height: 200px;
    }

    .box2, .box5 {
        height: 500px;
    }

    .shopping-text {
        font-size: 20px;
    }

    .footer-menu {
        display: grid;
    }
}